[submodule "1inch-vercel-proxy"]
	path = 1inch-vercel-proxy
	url = https://github.com/tyc4d/1inch-vercel-proxy
[submodule "DonationFactory/lib/forge-std"]
	path = DonationFactory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "public_contract/lib/openzeppelin-contracts"]
	path = public_contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
